<!DOCTYPE html>
<html>
<head>
    <title>Step 3 - Number of Patients</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="overlay">

    <h1>أدخل عدد المرضى الكلّي</h1>
    <form method="POST">
        <label>: عدد المرضى</label>
        <input type="number" name="PatientsNumber" min="1" required>
        <button type="submit">تأكيد</button>
    </form>
</div>

</body>
</html>
